<configuration>

	<classifier name="miml.classifiers.miml.mimlTOml.MIMLClassifierToML">
	
		<multiLabelClassifier name="mulan.classifier.transformation.EnsembleOfPrunedSets">
			<parameters>
				<parameter class="double.class" value="60"/>
				<parameter class="int.class" value="10"/>
				<parameter class="double.class" value="0.6"/>
				<parameter class="int.class" value="3"/>
				<parameter class="mulan.classifier.transformation.PrunedSets$Strategy" value="B"/>
				<parameter class="int.class" value="3"/>
				<parameter class="weka.classifiers.Classifier" value="weka.classifiers.lazy.IBk"/>
			</parameters>
		</multiLabelClassifier>
		<transformationMethod name="miml.transformation.mimlTOml.GeometricTransformation"/>
	</classifier>
	
	<evaluator name="miml.evaluation.EvaluatorCV">
		<numFolds>5</numFolds>
		<data>
			<file>data/miml_birds.arff</file>
			<xmlFile>data/miml_birds.xml</xmlFile>
		</data>
	</evaluator>
	
	
	<report name="miml.report.BaseMIMLReport">
		<fileName>results/toML/GT_EPS.csv</fileName>
		<standardDeviation>true</standardDeviation>
		<header>true</header>
		<measures perLabel="false">
			<measure>Hamming Loss</measure>
			<measure>Subset Accuracy</measure>
			<measure>Macro-averaged Precision</measure>
			<measure>Macro-averaged F-Measure</measure>
		</measures>
	</report>
	
</configuration>