<configuration>

	<classifier name="es.uco.kdis.miml.classifiers.miml.mimlTOml.MIMLClassifierToML">
	
		<multiLabelClassifier name="mulan.classifier.lazy.DMLkNN">
			<parameters>
				<classParameters>int.class</classParameters>
				<valueParameters>4</valueParameters>rameters>
				<valueParameters>0.9</valueParameters>
			</parameters>
		</multiLabelClassifier>
		<transformMethod name="es.uco.kdis.miml.transformation.mimlTOml.GeometricTransformation"/>
	</classifier>
	
	<evaluator name="es.uco.kdis.miml.evaluation.EvaluatorHoldout">
		<data>
			<trainFile>data/miml_birds_random_80train.arff</trainFile>
			<testFile>data/miml_birds_random_20test.arff</testFile>
			<xmlFile>data/miml_birds.xml</xmlFile>
		</data>
	</evaluator>
	
	
	<report name="es.uco.kdis.miml.report.BaseMIMLReport">
		<fileName>results/prueba.csv</fileName>
		<measures>
			<measure>Hamming Loss</measure>
			<measure>Subset Accuracy</measure>
			<measure>Macro-averaged Precision</measure>
			<measure>Macro-averaged F-Measure</measure>
			<measure>Geometric Mean Average Interpolated Precision</measure>
		</measures>
	</report>
	
</configuration>