<configuration>

	<classifier name="miml.classifiers.miml.mimlTOml.MIMLClassifierToML">
	
		<multiLabelClassifier name="mulan.classifier.transformation.LabelPowerset">
			<parameters>
				<parameter class="weka.classifiers.Classifier" value="weka.classifiers.trees.J48"/>
			</parameters>
		</multiLabelClassifier>
		<transformationMethod name="miml.transformation.mimlTOml.KMeansTransformation" numberOfClusters="50"/>
	</classifier>
	
<evaluator name="miml.evaluation.EvaluatorHoldout">
		<percentageTrain>70</percentageTrain>
		<partitionMethod>random</partitionMethod>
		<seed>5</seed>
		<data>
			<trainFile>data/miml_birds_random_80train.arff</trainFile>			
			<xmlFile>data/miml_birds.xml</xmlFile>
		</data>
	</evaluator>
	
	
	<report name="miml.report.BaseMIMLReport">
		<fileName>results/toML/KMT_LP.csv</fileName>
		<standardDeviation>false</standardDeviation>
		<header>true</header>
		<measures perLabel="false">
			<measure>Hamming Loss</measure>
			<measure>Subset Accuracy</measure>
			<measure>Macro-averaged Precision</measure>
			<measure>Macro-averaged F-Measure</measure>
		</measures>
	</report>
	
</configuration>