<configuration>

	<classifier name="miml.classifiers.miml.mimlTOml.MIMLClassifierToML">
	
		<multiLabelClassifier name="miml.classifiers.ml.RFPCT">
			<parameters>
				<parameter class="String.class" value="clusFolder"/>
				<parameter class="String.class" value="clusBirds"/>
				<parameter class="int.class" value="10"/>
				<parameter class="long.class" value="1"/>
			</parameters>
		</multiLabelClassifier>
		<transformationMethod name="miml.transformation.mimlTOml.MedoidTransformation" numberOfClusters="40" seed="153"/>
	</classifier>
	
	<evaluator name="miml.evaluation.EvaluatorHoldoutClus">
		<data>
			<trainFile>data/miml_birds.arff</trainFile>
			<xmlFile>data/miml_birds.xml</xmlFile>
			<percentageTrain>80</percentageTrain>
		</data>
		<clusWorkingDir>clusFolder</clusWorkingDir>
		<clusDataset>clusBirds</clusDataset>
		<partitionMethod>iterative</partitionMethod>	
	</evaluator>
	
	
	<report name="miml.report.BaseMIMLReport">
		<fileName>results/toML/MDT_RFPCT.csv</fileName>
		<standardDeviation>false</standardDeviation>
		<header>true</header>
		<measures perLabel="false">
			<measure>Hamming Loss</measure>
			<measure>Subset Accuracy</measure>
			<measure>Macro-averaged Precision</measure>
			<measure>Macro-averaged F-Measure</measure>
		</measures>
	</report>
	
</configuration>