<configuration>
	<classifier name="miml.classifiers.miml.lazy.IBLR_ML_MIMLWrapper">	
		<numOfNeighbors>5</numOfNeighbors>
		<addFeatures>true</addFeatures>

		<metric name="miml.core.distance.MinimalHausdorff">
		</metric>
	</classifier>
	
	<evaluator name="miml.evaluation.EvaluatorCV">
		<numFolds>5</numFolds>
		<data>
			<file>data/miml_birds.arff</file>
			<xmlFile>data/miml_birds.xml</xmlFile>
		</data>
	</evaluator>
	
	<report name="miml.report.BaseMIMLReport">
		<fileName>results/prueba.csv</fileName>
	</report>
	
</configuration>