<configuration>
	<classifier name="es.uco.kdis.miml.mimlclassifier.lazy.MIMLkNN">
	
		<nReferences>4</nReferences>
		<nCiters>6</nCiters>

		<metric name="es.uco.kdis.miml.core.distance.AverageHausdorff">
		</metric>
	</classifier>
	
	<evaluator name="es.uco.kdis.miml.evaluation.EvaluatorHoldout">
		<data>
			<trainFile>data/miml_birds_random_80train.arff</trainFile>
			<testFile>data/miml_birds_random_20test.arff</testFile>
			<xmlFile>data/miml_birds.xml</xmlFile>
		</data>
	</evaluator>
	
	<report name="es.uco.kdis.miml.report.BaseMIMLReport">
		<fileName>results/prueba.csv</fileName>
	</report>
	
</configuration>