<configuration>

	<classifier name="es.uco.kdis.miml.classifiers.miml.mimlTOmi.MIMLClassifierMI">
	
		<transformMethod name="es.uco.kdis.miml.classifiers.miml.mimlTOmi.MIMLBinaryRelevance"/>
		
		<multiInstanceClassifier name="weka.classifiers.mi.SimpleMI">
        </multiInstanceClassifier>
        
	</classifier>
	
	<evaluator name="es.uco.kdis.miml.evaluation.EvaluatorCV">
		<numFolds>5</numFolds>
		<data>
			<file>data/miml_birds.arff</file>
			<xmlFile>data/miml_birds.xml</xmlFile>
		</data>
	</evaluator>
	
	<report name="es.uco.kdis.miml.report.BaseMIMLReport">
		<fileName>results/prueba.csv</fileName>
		<measures>
			<measure>Hamming Loss</measure>
			<measure>Subset Accuracy</measure>
			<measure>Macro-averaged Precision</measure>
			<measure>Macro-averaged F-Measure</measure>
			<measure>Geometric Mean Average Interpolated Precision</measure>
		</measures>
	</report>
    
</configuration>