<configuration>
	<classifier name="es.uco.kdis.mimlclassifier.inprogress.MLkNNwrapper">
	
		<nReferences>5</nReferences>
		<smooth>1.0</smooth>

		<metric name="es.uco.kdis.mimlclassifier.inprogress.AverageHausdorffDistance">
		</metric>
	</classifier>
	
	<evaluator name="es.uco.kdis.evaluation.EvaluatorCV">
		<numFolds>5</numFolds>
		<data>
			<file>data/miml_03_data.arff</file>
			<xmlFile>data/miml_03_data.xml</xmlFile>
		</data>
	</evaluator>
	
	<report name="es.uco.kdis.report.BaseMIMLReport">
		<fileName>results/prueba.csv</fileName>
	</report>
	
</configuration>