<configuration>

	<classifier name="miml.classifiers.miml.mimlTOmi.MIMLClassifierToMI">
	
		<transformationMethod name="miml.classifiers.miml.mimlTOmi.MIMLLabelPowerset"/>
		
		<multiInstanceClassifier name="weka.classifiers.mi.MIWrapper">
			<listOptions>
				-P 2 -A 1 -W weka.classifiers.rules.ZeroR
			</listOptions>
        </multiInstanceClassifier>
        
	</classifier>
	
	<evaluator name="miml.evaluation.EvaluatorCV">
		<numFolds>5</numFolds>
		<data>
			<file>data/miml_birds.arff</file>
			<xmlFile>data/miml_birds.xml</xmlFile>
		</data>
	</evaluator>
	
	<report name="miml.report.BaseMIMLReport">
		<fileName>results/toMI/LP_MIWrapper.csv</fileName>
		<standardDeviation>false</standardDeviation>
		<header>true</header>
		<measures perLabel="false">
			<measure>Hamming Loss</measure>
			<measure>Subset Accuracy</measure>
			<measure>Macro-averaged Precision</measure>
			<measure>Macro-averaged F-Measure</measure>
		</measures>
	</report>
    
</configuration>