<configuration>
	<classifier name="miml.classifiers.miml.mimlTOmi.MIMLClassifierToMI">
		<transformationMethod name="miml.classifiers.miml.mimlTOmi.MIMLBinaryRelevance"/>
		<multiInstanceClassifier name="weka.classifiers.mi.MIBoost">
			<listOptions>-R 10 -B 0 -W weka.classifiers.trees.REPTree -- -M 2 -V 0.001 -N 3 -S 1 -L -1 -I 0.0</listOptions>
        </multiInstanceClassifier>
	</classifier>
	
	<evaluator name="miml.evaluation.EvaluatorCV">
		<seed>7891</seed>
		<numFolds>5</numFolds>
		<data>
			<file>data/miml_text/miml_text.arff</file>
			<xmlFile>data/miml_text/miml_text.xml</xmlFile>
		</data>
	</evaluator>
	
	<report name="miml.report.ExperimentReport">
		<fileName>results/tomi-br-miboost-text.csv</fileName>
		<standardDeviation>false</standardDeviation>
		<measures perLabel="false"/>
	</report>
</configuration>