<configuration>
	<classifier name="miml.classifiers.miml.mimlTOmi.MIMLClassifierToMI">
		<transformationMethod name="miml.classifiers.miml.mimlTOmi.MIMLBinaryRelevance"/>
		<multiInstanceClassifier name="weka.classifiers.mi.MISVM">
			<listOptions>-C 1.0 -N 2 -K "weka.classifiers.functions.supportVector.Puk -O 1.0 -S 1.0 -C 250007"</listOptions>
        </multiInstanceClassifier>
	</classifier>
	
	<evaluator name="miml.evaluation.EvaluatorCV">
		<seed>7891</seed>
		<numFolds>5</numFolds>
		<data>
			<file>data/miml_text/miml_text.arff</file>
			<xmlFile>data/miml_text/miml_text.xml</xmlFile>
		</data>
	</evaluator>
	
	<report name="miml.report.ExperimentReport">
		<fileName>results/tomi-br-misvm-text.csv</fileName>
		<standardDeviation>false</standardDeviation>
		<measures perLabel="false"/>
	</report>
</configuration>