<configuration>
	<classifier name="miml.classifiers.miml.mimlTOmi.MIMLClassifierToMI">
		<transformationMethod name="miml.classifiers.miml.mimlTOmi.MIMLLabelPowerset"/>
		<multiInstanceClassifier name="weka.classifiers.mi.CitationKNN">
		</multiInstanceClassifier>
	</classifier>
	
	<evaluator name="miml.evaluation.EvaluatorCV">
		<seed>7891</seed>
		<numFolds>5</numFolds>
		<data>
			<file>data/miml_text/miml_text.arff</file>
			<xmlFile>data/miml_text/miml_text.xml</xmlFile>
		</data>
	</evaluator>
	
	<report name="miml.report.ExperimentReport">
		<fileName>results/tomi-bp-citationknn-text.csv</fileName>
		<standardDeviation>false</standardDeviation>
		<measures perLabel="false"/>
	</report>
</configuration>