<configuration>
	<classifier name="miml.classifiers.miml.mimlTOml.MIMLClassifierToML">
		<multiLabelClassifier name="mulan.classifier.transformation.EnsembleOfPrunedSets">
			<parameters>
				<parameter class="double.class" value="66"/>
				<parameter class="int.class" value="10"/>
				<parameter class="double.class" value="0.5"/>
				<parameter class="int.class" value="2"/>
				<parameter class="mulan.classifier.transformation.PrunedSets$Strategy" value="B"/>
				<parameter class="int.class" value="3"/>
				<parameter class="weka.classifiers.Classifier" value="weka.classifiers.trees.J48"/>
			</parameters>
		</multiLabelClassifier>
		<transformationMethod name="miml.transformation.mimlTOml.GeometricTransformation"/>
	</classifier>

	<evaluator name="miml.evaluation.EvaluatorCV">
		<seed>7891</seed>
		<numFolds>5</numFolds>
		<data>
			<file>data/miml_text/miml_text.arff</file>
			<xmlFile>data/miml_text/miml_text.xml</xmlFile>
		</data>
	</evaluator>

	<report name="miml.report.ExperimentReport">
		<fileName>results/toml-eps-g-text.csv</fileName>
		<standardDeviation>false</standardDeviation>
		<measures perLabel="false"/>
	</report>
</configuration>