<configuration>
	<classifier name="miml.classifiers.miml.mimlTOml.MIMLClassifierToML">
		<multiLabelClassifier name="mulan.classifier.meta.HOMER">
			<parameters>
				<parameter class="mulan.classifier.MultiLabelLearner" value="mulan.classifier.transformation.BinaryRelevance">
					<parameters>
						<parameter class="weka.classifiers.Classifier" value="weka.classifiers.trees.J48"/>
					</parameters>
				</parameter>
				<parameter class="int.class" value="3"/>
				<parameter class="mulan.classifier.meta.HierarchyBuilder$Method" value="BalancedClustering"/>
			</parameters>
		</multiLabelClassifier>
		<transformationMethod name="miml.transformation.mimlTOml.MinMaxTransformation"/>
	</classifier>

	<evaluator name="miml.evaluation.EvaluatorCV">
		<seed>7891</seed>
		<numFolds>5</numFolds>
		<data>
			<file>data/miml_text/miml_text.arff</file>
			<xmlFile>data/miml_text/miml_text.xml</xmlFile>
		</data>
	</evaluator>

	<report name="miml.report.ExperimentReport">
		<fileName>results/toml-homer-mm-text.csv</fileName>
		<standardDeviation>false</standardDeviation>
		<measures perLabel="false"/>
	</report>
</configuration>