<configuration>
	<classifier name="miml.classifiers.miml.optimization.MIMLSVM">	
             <type>RBF</type>
             <para>0.2</para>
             <cost>1</cost>
             <h>1</h>
             <ratio>0.2</ratio>
             <seed>1</seed>
	</classifier>
	
	<evaluator name="miml.evaluation.EvaluatorHoldout">
		<data>
			<trainFile>data/miml_birds.arff</trainFile>
			<xmlFile>data/miml_birds.xml</xmlFile>
			<percentageTrain>80</percentageTrain>
		</data>
	</evaluator>
	
	<report name="miml.report.BaseMIMLReport">
		<fileName>results/MIMLClassifier/MIMLSVM.csv</fileName>
	</report>
	
</configuration>