<configuration>
	<classifier name="miml.classifiers.miml.neural.MIMLNN">	
		<ratio>1.0</ratio>
		<lambda>0.4</lambda>
        <seed>1</seed>		
	</classifier>
	
	<evaluator name="miml.evaluation.EvaluatorHoldout">
		<data>
			<trainFile>data/miml_birds.arff</trainFile>
			<xmlFile>data/miml_birds.xml</xmlFile>
			<percentageTrain>80</percentageTrain>
		</data>
	</evaluator>
	
	<report name="miml.report.BaseMIMLReport">
		<fileName>results/MIMLClassifier/MIMLNN.csv</fileName>
	</report>
	
</configuration>